<div class="chat-header-container main-background-gradient">
    <div class="chat-header-controls page-width">

    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnNewChat { get; set; }
}
